{% extends 'web/base_alt.html' %}
{% load staticfiles %}
{% block title %}Cars{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/nouislider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/css_style.default.css' %}" id="theme-stylesheet">
    <script src="{% static 'js/nouislider.min.js' %}"></script>
{% endblock %}

{% block menu %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <form class="form-inline my-2 my-lg-0" id="searchbar">
                    <input class="form-control ml-sm-2" type="text" name="search" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="submit">Search</button>
                </form>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#">Welcome, {{ user.last_name }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'web:logout' %}">Logout</a>
                </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'web:login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'web:register' %}">Register</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block body %}
    <section class="hero hero-page gray-bg padding-small">
        <div class="container">
            <div class="row d-flex">
                <div class="col-lg-9 order-2 order-lg-1">
                    <h1>Cars</h1>
                    <p class="lead text-muted">All the available cars in the showroom</p>
                </div>
                <div class="col-lg-3 text-right order-1 order-lg-2">
                    <ul class="breadcrumb justify-content-lg-end">
                        <li class="breadcrumb-item"><a href="{% url 'web:index' %}">Home</a></li>
                        <li class="breadcrumb-item active">cars</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <main>
        <div class="container">
            <div class="row">
                <!-- Sidebar-->
                <div class="sidebar col-xl-3 col-lg-4 sidebar">
                    <form action="#" id="filter">
                        <div class="block">
                            <h6 class="text-uppercase">Car build </h6>
                            <div class="form-group mb-1">
                                <input id="all" type="radio" name="make" checked class="radio-template" value="all">
                                <label for="all">All</label>
                            </div>
                            <div class="form-group mb-1">
                                <input id="hatchback" type="radio" name="make" class="radio-template" value="hatchback">
                                <label for="hatchback">Hatchback</label>
                            </div>
                            <div class="form-group mb-1">
                                <input id="sedan" type="radio" name="make" class="radio-template" value="sedan">
                                <label for="sedan">Sedan</label>
                            </div>
                            <div class="form-group mb-1">
                                <input id="suv" type="radio" name="make" class="radio-template" value="suv">
                                <label for="suv">SUV</label>
                            </div>
                            <div class="form-group mb-1">
                                <input id="muv" type="radio" name="make" class="radio-template" value="muv">
                                <label for="muv">MUV</label>
                            </div>
                        </div>
                        <div class="block">
                            <h6 class="text-uppercase">Fuel Type </h6>
                            <div class="form-group mb-1">
                                <input id="petrol" type="checkbox" name="fuel" checked
                                       class="checkbox-template" value="petrol">
                                <label for="petrol">Petrol</label>
                            </div>
                            <div class="form-group mb-1">
                                <input id="diesel" type="checkbox" name="fuel" checked
                                       class="checkbox-template" value="diesel">
                                <label for="diesel">Diesel</label>
                            </div>
                        </div>
                        <div class="block">
                            <h6 class="text-uppercase">Filter By Price </h6>
                            <div id="slider-snap"></div>
                            <div class="value d-flex justify-content-between">
                                <div class="min">From &#8377; <span id="slider-snap-value-lower" class="example-val"></span></div>
                                <div class="max">To &#8377; <span id="slider-snap-value-upper" class="example-val"></span></div>
                            </div>
                        </div>
                            <a href="#" class="filter-submit" onclick="getparams(0,9);">filter</a>
                    </form>
                </div>
                <!-- /Sidebar end-->
                <!-- Grid -->
                <div class="products-grid col-xl-9 col-lg-8 sidebar-left">
                    <div class="row grid">
                        <!-- item-->
                    </div>
                        

                    <br>
                    <nav aria-label="page navigation example" class="d-flex justify-content-center">
                        <ul class="pagination pagination-custom">
                            <li class="page-item" id="prev" onclick="previous()"><a href="#" aria-label="Previous" class="page-link"><span
                                    aria-hidden="true">Prev</span><span class="sr-only">Previous</span></a></li>
                            <li class="page-item" id="next" onclick="next()"><a href="#" aria-label="Next" class="page-link"><span
                                    aria-hidden="true">Next</span><span class="sr-only">Next     </span></a></li>
                        </ul>
                    </nav>
                </div>
                <!-- / Grid End-->
            </div>
        </div>
    </main>
{% endblock %}
{% block scripts %}
    <script>
        var make = '';
        var filter = false;
        var q = false;
        var start = 0;
        var end = start + 9;
        var snapSlider = document.getElementById('slider-snap');

        noUiSlider.create(snapSlider, {
            start: [400000, 20000000],
            snap: false,
            connect: true,
            step: 1,
            range: {
                'min': 100000,
                'max': 25000000
            }
        });
        var snapValues = [
            document.getElementById('slider-snap-value-lower'),
            document.getElementById('slider-snap-value-upper')
        ];
        snapSlider.noUiSlider.on('update', function (values, handle) {
            snapValues[handle].innerHTML = values[handle];
        });


        function tryParseJSON (jsonString){
            try {
                var o = JSON.parse(jsonString);
                if (o && typeof o === "object") {
                    return o;
                }
            }
            catch (e) { }
            return false;
        }

        function previous() {
            if (filter === true) {
                if (start === 0) {
                    // There's no previous then..
                }
                else {
                    start = start - 9;
                    end = start + 9;
                    getparams(start, end);
                }
            }
            else if (q === true) {
                if (start === 0) {
                    // There's no previous then..
                }
                else {
                    start = start - 9;
                    end = start + 9;
                    searchb(start, end);
                }
            }
            else {
                if (start === 0) {
                    //There's no previous here
                }
                else {
                    start = start - 9;
                    end = start + 9;
                    getGrid(start, end);
                }
            }
        }


        function next() {
            if (filter === true) {
                start = start + 9;
                end = start + 9;
                getparams(start, end);
            }
            else if (q === true) {
                start = start + 9;
                end = start + 9;
                searchb(start, end);
            }
            else {
                start = start + 9;
                end = start + 9;
                getGrid(start, end);
            }
        }


        function XMLReq(callback) {
            var response = '';
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    response = this.responseText;
                    callback(response);
                }
            };
            return xhttp;
        }


        function getGrid(start, end) {
            // Get checkbox value here.
            // And also the my accounts only checkbox
            var xhttp = XMLReq(fillGrid);
            var query = 'start=' + start + '&end=' + end;
            var local = window.location.origin;
            xhttp.open("GET", local + '/car_dy' + '?' + query, true);
            xhttp.send();
        }

        function fillGrid(data) {
            clear();
            var local = window.location.origin;
            var parsed = tryParseJSON(data);
            if (parsed === false) {
                //It's not JSON. It's something.
            }
            else {

                if (parsed.length === 0) {
                    var markup = '<p id=error>Uh oh! No cars with matching queries found!</p><br>';
                    $('.grid').append(markup);
                }
                else {
                    for (var obj in parsed) {
                        var ob = parsed[obj];
                        var pk = ob['pk'];
                        var fields = ob['fields'];
                        var name = fields['name'];
                        var brand = fields['brand'];
                        var price = fields['price'];
                        var pic = fields['picture'];

                        // Now add the table. :)
                        var markup = '<div class="item col-xl-4 col-md-6">' +
                            '<div class="product is-gray"> ' +
                                '<div class="image d-flex align-items-center justify-content-center">' +
                                    '<img src="'+ local + '/media/' + pic +'" alt="" class="img-fluid">' +
                                    '<div class="hover-overlay d-flex align-items-center justify-content-center">' +
                                        '<div class="CTA d-flex align-items-center justify-content-center">' +
                                            '<a href="' + local + '/car/' + pk +'" class="visit-product active">' +
                                                '<i class="icon-search"></i>' +
                                                'View' +
                                            '</a>' +
                                        '</div>' +
                                    '</div>' +
                                '</div>' +
                                '<div class="title">' +
                                    '<small class="text-muted">' + brand + '</small>' +
                                        '<a href="' + local + '/car/' + pk + '">' +
                                            '<h3 class="h6 text-uppercase no-margin-bottom">' + name + '</h3>' +
                                        '</a>' +
                                        '<span class="price text-muted">&#8377; ' + price + '</span>' +
                                '</div>' +
                            '</div>' +
                            '</div>';

                        $('.grid').append(markup);
                    }
                }
            }
        }

        function searchb(start, end) {
            q = true;
            filter = false;
            var term = $('#searchbar').serialize();
            var xhttp = XMLReq(fillGrid);
            var local = window.location.origin;
            var extra = "&start=" + start + "&end=" + end;
            xhttp.open("GET", local + '/car_s' + '?' + term + extra, true);
            xhttp.send();
        }


        function clear () {
            $(".item").remove();
            $("#error").remove();
        }

        getGrid(0,9);

        // Hatchback selector

        function getGridwparams(params, start, end) {
            var xhttp = XMLReq(fillGrid);
            var query = 'start=' + start + '&end=' + end + '&' + params;
            var local = window.location.origin;
            xhttp.open("GET", local + '/car_dy' + '?' + query, true);
            xhttp.send();
        }


        function getparams(start, end) {
            filter = true;
            q = false;
            var r = $('#filter').serialize();
            var lower = $('#slider-snap-value-lower').text();
            var upper = $('#slider-snap-value-upper').text();
            var extra = '&cost_min=' + lower + '&cost_max=' + upper;
            var final = r + extra;
            getGridwparams(final, start, end);
        }


        $("#searchbar").submit(function(e){
            searchb(start, end);
            return false;
        });

    </script>
{% endblock %}
